../../.git
../../node_modules
../../buildCMD.sh

../../coverage
../../storage/*
../../!/storage/.keep

../../public/assets
../../.byebug_history


../../public/packs
../../public/packs-test
../../node_modules
../../yarn-error.log
../../yarn-debug.log*
../../.yarn-integrity


../../config/master.key
../../.env