/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.inputOutline {
  border-radius: 5px;
  margin: 0.4em;
  border: 0.5px solid grey;
}

.inputOutline:focus {
  outline: none;
  border: 1px solid hotpink;
  box-shadow: 0 0 6px #060708;
}
.dropdown-menu.show {
  right: 0;
  left: auto;
}

.link-1 {
  color: #696969;
  margin-right: 0.3em;
  text-decoration: none;
}
.link-1:hover {
  color: black;
  text-decoration: none;
}

.wid-50 {
  width: 50vh;
}

@media only screen and (max-width: 600px) {
  .wid-50 {
    width: 100%;
  }
}
